WebContent/wsdl/FileUpload.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://fileupload.sfdc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://fileupload.sfdc.com" xmlns:intf="http://fileupload.sfdc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://fileupload.sfdc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="uploadFile">
    <complexType>
     <sequence>
      <element name="s" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="uploadFileResponse">
    <complexType>
     <sequence>
      <element name="uploadFileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="uploadFileResponse">

      <wsdl:part element="impl:uploadFileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uploadFileRequest">

      <wsdl:part element="impl:uploadFile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FileUpload">

      <wsdl:operation name="uploadFile">

         <wsdl:input message="impl:uploadFileRequest" name="uploadFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:uploadFileResponse" name="uploadFileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FileUploadSoapBinding" type="impl:FileUpload">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="uploadFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uploadFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uploadFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FileUploadService">

      <wsdl:port binding="impl:FileUploadSoapBinding" name="FileUpload">

         <wsdlsoap:address location="http://localhost:8090/VikiSalesforce/services/FileUpload"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
